.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-overview {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  color: #22254b;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-overview {
  transform: translateY(0);
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #373b69;
}

.search {
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #22254b;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: none;
}